# Install Packages

In [ ]:
!python3 -m pip install pandas matplotlib numpy seaborn plotly

# Create the preprocessed HRIS data

In [31]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
import plotly.express as px

In [36]:
# Load the datasets using 'openpyxl' engine
file_path_export = '../../../data/Incredibuild/HRIS/2023-11-27HiBob Export_Share.xlsx'
file_path_changes = '../../../data/Incredibuild/HRIS/2023-12-05HiBob_Change Report.xlsx'
file_path_additions = '../../../data/Incredibuild/HRIS/HRIS Data Additions.xlsx'

df_export = pd.read_excel(file_path_export, engine='openpyxl')
df_changes = pd.read_excel(file_path_changes, engine='openpyxl')
df_additions = pd.read_excel(file_path_additions, engine='openpyxl', header=1)  # Skip the first row

In [37]:
# Renaming 'ID' to 'Employee ID' in df_additions
df_additions.rename(columns={'ID': 'Employee ID'}, inplace=True)

# Remove the 'Unnamed: 0' column from df_additions
df_additions.drop(columns='Unnamed: 0', inplace=True)

# Preview the cleaned df_additions with increasing value of 'Employee ID'
df_additions.sort_values(by='Employee ID', inplace=True)

In [38]:
df_export.head()

,Employee ID,Office,Employment Status,Manager's ID,Division,Function,Department,Team,Job title,Original start date,Termination date,Date of Change,Salary OTE (USD),Dec 2023 Process,Future Process
0,1,IL,Full time,157,GandA,Finance,NaN,NaN,Finance Operations,2007-08-26,NaT,2023-05-01 08:35:00,77260.0,NaN,NaN
1,2,IL,Full time,345,RandD,R&D,NaN,NaN,Principal Architect,2011-08-21,NaT,2023-11-12 07:33:00,216986.0,NaN,NaN
2,3,IL,Full time,NaN,NaN,NaN,NaN,NaN,NaN,2012-07-01,2022-10-27,2023-03-13 16:52:00,213699.0,NaN,NaN
3,4,USA,Full time,235,Revenue,CS,CS,US,Principal CSM,2012-07-01,NaT,2023-07-31 05:46:00,250000.0,NaN,NaN
4,5,IL,Full time,A370,RandD,R&D,Linux & Core Acceleration,NaN,Senior Linux Developer,2013-11-03,NaT,2023-11-12 07:30:00,131507.0,NaN,NaN

In [39]:
df_additions.head()

,Employee ID,Division,Function,Department,Team,Job title
75,3,RandD,R&D,Windows,Core Modernization,Senior Software Engineer
65,6,Revenue,Sales,NaN,NaN,Sales
113,7,Revenue,Sales,NaN,NaN,Sales
67,8,RandD,R&D,QA,NaN,QA Engineer
8,9,RandD,R&D,QA,NaN,QA Engineer

In [41]:
# Defining the columns to update in df_export
columns_to_update = ['Division', 'Function', 'Department', 'Team', 'Job title']

# Updating the df_export with df_additions values for the specified columns
for col in columns_to_update:
    if col in df_export.columns and col in df_additions.columns:
        print(f'Updating {col} column')
        # Temporarily aligning df_export to df_additions for the update
        df_export.set_index('Employee ID', inplace=True)
        df_export[col].update(df_additions[col])
        df_export.reset_index(inplace=True)

# Preview the updated df_export
df_export.head(10)

Updating Division column
Updating Function column
Updating Department column
Updating Team column
Updating Job title column

,Employee ID,Office,Employment Status,Manager's ID,Division,Function,Department,Team,Job title,Original start date,Termination date,Date of Change,Salary OTE (USD),Dec 2023 Process,Future Process
0,1,IL,Full time,157,GandA,IT,NaN,System Admin,IT System Admin,2007-08-26,NaT,2023-05-01 08:35:00,77260.0,NaN,NaN
1,2,IL,Full time,345,Revenue,GTS,Support,NaN,Support Engineer,2011-08-21,NaT,2023-11-12 07:33:00,216986.0,NaN,NaN
2,3,IL,Full time,NaN,RandD,R&D,QA,NaN,QA Engineer,2012-07-01,2022-10-27,2023-03-13 16:52:00,213699.0,NaN,NaN
3,4,USA,Full time,235,Revenue,Growth,BDR,BDR-IL,BDR,2012-07-01,NaT,2023-07-31 05:46:00,250000.0,NaN,NaN
4,5,IL,Full time,A370,Revenue,Marketing,Linux & Core Acceleration,Performance Marketing,Head of Perfromance Marketing,2013-11-03,NaT,2023-11-12 07:30:00,131507.0,NaN,NaN
5,6,IL,Full time,NaN,Revenue,CS,CS,CS at Scale,Account Manager,2015-01-02,2019-02-28,2023-03-13 16:52:00,65753.0,NaN,NaN
6,7,IL,Full time,NaN,RandD,R&D,NaN,NaN,Web Developer,2015-01-03,2019-02-28,2023-03-13 16:52:00,52603.0,NaN,NaN
7,8,IL,Full time,NaN,RandD,R&D,QA,NaN,QA Engineer,2015-01-04,2019-03-27,2023-03-13 16:52:00,21041.0,NaN,NaN
8,9,IL,Full time,NaN,Revenue,Growth,BDR,NaN,BDR,2015-01-05,2019-03-29,2023-03-13 16:52:00,115068.0,NaN,NaN
9,10,IL,Full time,NaN,Revenue,Growth,Business Operations,NaN,Senior Sales Operations Manager,2015-01-06,2019-03-31,2023-03-13 16:52:00,115068.0,NaN,NaN

In [18]:
# Creating a 'Position Count' column in df_changes to count the number of positions per employee
df_changes['Position Count'] = df_changes.groupby('Employee ID').cumcount() + 1

# Merging df_changes with df_export
# We use an outer merge to ensure all data is included, and then we'll handle duplicates
df_merged = pd.merge(df_export, df_changes, on='Employee ID', how='outer')

In [19]:
# Convert 'Original start date' and 'Termination date' to datetime, if not already
df_merged['Original start date'] = pd.to_datetime(df_merged['Original start date'], errors='coerce')
df_merged['Termination date'] = pd.to_datetime(df_merged['Termination date'], errors='coerce')

# Fill NaN values with 'Missing'
df_merged.fillna('Missing', inplace=True)

# Drop duplicate rows based on 'Employee ID', keeping the last entry
df_merged.drop_duplicates(subset='Employee ID', keep='last', inplace=True)

# Clean up column names that have been suffixed with '_x' or '_y'
df_merged.columns = df_merged.columns.str.replace(r'_x$|_y$', '', regex=True)

# Preview the final dataframe
df_merged.head()

/var/folders/vv/twxwnc611dz_mrj93fst61zm0000gn/T/ipykernel_62479/942498208.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Missing' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df_merged.fillna('Missing', inplace=True)
/var/folders/vv/twxwnc611dz_mrj93fst61zm0000gn/T/ipykernel_62479/942498208.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Missing' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_merged.fillna('Missing', inplace=True)

,Employee ID,Office,Employment Status,Manager's ID,Division,Function,Department,Team,Job title,Original start date,...,Job title (Tracked),Job title (previous),Job title/Changed at,Employee level (Tracked),Employee level (previous),Employee level/Changed at,Reports to (Tracked),Reports to (previous),Reports to/Changed at,Position Count
2,1,IL,Full time,157,GandA,Finance,Missing,Missing,Finance Operations,2007-08-26 00:00:00,...,Finance Operations,Customer Success Operations,2023-05-01 08:35:02.424000,IC,Missing,2023-03-13 15:31:54.479000,157,223,2023-05-01 08:35:02.424000,3.0
5,2,IL,Full time,345,RandD,R&D,Missing,Missing,Principal Architect,2011-08-21 00:00:00,...,Principal Architect,Linux Director,2023-11-12 07:33:42.084000,Director,Manager,2023-06-12 10:56:26.964000,345,132,2023-06-12 10:56:26.964000,3.0
6,3,IL,Full time,Missing,Missing,Missing,Missing,Missing,Missing,2012-07-01 00:00:00,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing
9,4,USA,Full time,235,Revenue,CS,CS,US,Principal CSM,2012-07-01 00:00:00,...,Principal CSM,Enterprise Customer Success Manager,2023-03-13 15:31:53.932000,IC,Missing,2023-03-13 15:31:53.932000,235,107,2023-03-13 15:31:53.940000,3.0
11,5,IL,Full time,A370,RandD,R&D,Linux & Core Acceleration,Missing,Senior Linux Developer,2013-11-03 00:00:00,...,Senior Linux Developer,Missing,2023-06-12 10:56:50.564000,IC,Missing,2023-06-12 10:56:50.564000,A370,2,2023-11-12 07:30:59.930000,2.0

In [8]:
# Renaming 'ID' column in df_additions to 'Employee ID'
df_additions.rename(columns={'ID': 'Employee ID'}, inplace=True)

# Merging df_export with df_additions to fill missing data
df_export_filled = pd.merge(df_export, df_additions, on='Employee ID', how='left', suffixes=('', '_additions'))

# Aggregating df_changes to count the number of positions and list all changes per employee
df_changes_aggregated = df_changes.groupby('Employee ID').agg(
    Number_of_Positions=('Employee ID', 'count'),
    All_Changes=('Department (Tracked)', lambda x: list(x))
).reset_index()

# Merging the filled df_export with aggregated df_changes
df_final_merged = pd.merge(df_export_filled, df_changes_aggregated, on='Employee ID', how='left')

# Converting dates to datetime, and filling NaN values
df_final_merged['Termination date'] = pd.to_datetime(df_final_merged['Termination date'], errors='coerce')
df_final_merged['Original start date'] = pd.to_datetime(df_final_merged['Original start date'], errors='coerce')
df_final_merged.fillna('Missing', inplace=True)

# Cleaning up column names that have been suffixed due to the merge
df_final_merged.columns = df_final_merged.columns.str.replace(r'_additions$', '', regex=True)

# Displaying the first few rows of the final merged dataframe to verify the changes
df_final_merged.head()

/var/folders/vv/twxwnc611dz_mrj93fst61zm0000gn/T/ipykernel_62479/3726878161.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Missing' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_final_merged.fillna('Missing', inplace=True)
/var/folders/vv/twxwnc611dz_mrj93fst61zm0000gn/T/ipykernel_62479/3726878161.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Missing' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df_final_merged.fillna('Missing', inplace=True)

,Employee ID,Office,Employment Status,Manager's ID,Division,Function,Department,Team,Job title,Original start date,...,Dec 2023 Process,Future Process,Unnamed: 0,Division,Function,Department,Team,Job title,Number_of_Positions,All_Changes
0,1,IL,Full time,157,GandA,Finance,Missing,Missing,Finance Operations,2007-08-26,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,3.0,"[CS, CS, Finance]"
1,2,IL,Full time,345,RandD,R&D,Missing,Missing,Principal Architect,2011-08-21,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,3.0,"[R&D, R&D, R&D]"
2,3,IL,Full time,Missing,Missing,Missing,Missing,Missing,Missing,2012-07-01,...,Missing,Missing,Missing,RandD,R&D,Windows,Core Modernization,Senior Software Engineer,Missing,Missing
3,4,USA,Full time,235,Revenue,CS,CS,US,Principal CSM,2012-07-01,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,3.0,"[CS, CS, CS]"
4,5,IL,Full time,A370,RandD,R&D,Linux & Core Acceleration,Missing,Senior Linux Developer,2013-11-03,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,2.0,"[R&D, R&D]"

In [10]:
# Checking for columns with identical titles in the final merged dataframe
duplicate_columns = df_final_merged.columns[df_final_merged.columns.duplicated()].tolist()

# Creating a function to rename columns with identical titles
# This will append a suffix indicating the chronological order of the positions
def rename_duplicate_columns(df, duplicate_cols):
    for col in duplicate_cols:
        # Extracting the columns that have the same title
        cols_to_rename = [c for c in df.columns if c.startswith(col) and c != col]
        
        # Renaming these columns with a suffix indicating their order
        for i, c in enumerate(sorted(cols_to_rename), start=1):
            new_name = f"{col}_Position_{i}"
            df.rename(columns={c: new_name}, inplace=True)

    return df

# Applying the function to the final merged dataframe
df_final_renamed = rename_duplicate_columns(df_final_merged.copy(), duplicate_columns)
df_final_renamed.head()

,Employee ID,Office,Employment Status,Manager's ID,Division,Function,Department,Team,Job title,Original start date,...,Dec 2023 Process,Future Process,Unnamed: 0,Division,Function,Department,Team,Job title,Number_of_Positions,All_Changes
0,1,IL,Full time,157,GandA,Finance,Missing,Missing,Finance Operations,2007-08-26,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,3.0,"[CS, CS, Finance]"
1,2,IL,Full time,345,RandD,R&D,Missing,Missing,Principal Architect,2011-08-21,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,3.0,"[R&D, R&D, R&D]"
2,3,IL,Full time,Missing,Missing,Missing,Missing,Missing,Missing,2012-07-01,...,Missing,Missing,Missing,RandD,R&D,Windows,Core Modernization,Senior Software Engineer,Missing,Missing
3,4,USA,Full time,235,Revenue,CS,CS,US,Principal CSM,2012-07-01,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,3.0,"[CS, CS, CS]"
4,5,IL,Full time,A370,RandD,R&D,Linux & Core Acceleration,Missing,Senior Linux Developer,2013-11-03,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,2.0,"[R&D, R&D]"

In [11]:
# Save the preprocessed data to a new Excel file for further analysis
output_file_path = '../../../data/Incredibuild/HRIS/preprocessed_data_HRIS.xlsx'
df_final_renamed.to_excel(output_file_path, index=False)

# Load and describe the preprocessed HRIS data

In [4]:
HRIS_Data_Preprocessed = pd.read_excel('../../../data/Incredibuild/HRIS/preprocessed_data.xlsx', engine='openpyxl')

In [5]:
HRIS_Data_Preprocessed.head()

,Employee ID,Office,Employment Status,Manager's ID,Division,Function,Department,Team,Job title,Original start date,...,Employee level/Changed at,Reports to (Tracked),Reports to (previous),Reports to/Changed at,Unnamed: 0,Division.1,Function.1,Department.1,Team.1,Job title.1
0,1,IL,Full time,157,GandA,Finance,Missing,Missing,Finance Operations,2007-08-26 00:00:00,...,2023-03-13 15:31:54.479000,157,223,2023-05-01 08:35:02.424000,Missing,Missing,Missing,Missing,Missing,Missing
1,2,IL,Full time,345,RandD,R&D,Missing,Missing,Principal Architect,2011-08-21 00:00:00,...,2023-06-12 10:56:26.964000,345,132,2023-06-12 10:56:26.964000,Missing,Missing,Missing,Missing,Missing,Missing
2,3,IL,Full time,Missing,Missing,Missing,Missing,Missing,Missing,2012-07-01 00:00:00,...,Missing,Missing,Missing,Missing,Missing,RandD,R&D,Windows,Core Modernization,Senior Software Engineer
3,4,USA,Full time,235,Revenue,CS,CS,US,Principal CSM,2012-07-01 00:00:00,...,2023-03-13 15:31:53.932000,235,107,2023-03-13 15:31:53.940000,Missing,Missing,Missing,Missing,Missing,Missing
4,5,IL,Full time,A370,RandD,R&D,Linux & Core Acceleration,Missing,Senior Linux Developer,2013-11-03 00:00:00,...,2023-06-12 10:56:50.564000,A370,2,2023-11-12 07:30:59.930000,Missing,Missing,Missing,Missing,Missing,Missing